.flows.json.backup
[{"id":"c72cdef0.3e244","type":"tab","label":"TCC AR CONDICIONADO","disabled":false,"info":""},{"id":"b99fadd5.5c6b9","type":"mqtt-broker","z":"","name":"","broker":"networkserver.maua.br","port":"1883","tls":"bcb8adfd.c6021","clientid":"Node-RED from smartcampus","usetls":false,"compatmode":true,"keepalive":"200","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"774515dd.c445ec","type":"ui_group","z":"","name":"DET-11 - [TCC Ar Cond.]","tab":"","order":12,"disp":true,"width":"10"},{"id":"bcb8adfd.c6021","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"maua.br.crt","keyname":"maua.br.key ","caname":"intermediate.crt","verifyservercert":true},{"id":"99c1b24a.70bcc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#183169","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#183169","edited":true},"page-titlebar-backgroundColor":{"value":"#183169","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#264ea7","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#183169","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c88f9e9b.e6a39","type":"mqtt-broker","z":"","name":"mqttConnection","broker":"networkserver.maua.br","port":"1883","tls":"b2e85013.c9eea","clientid":"Node-RED from smartcampus","usetls":false,"compatmode":true,"keepalive":"200","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8476920b.83b2d","type":"ui_group","z":"","name":"DET-11: TCC Ar Condicionado","tab":"20a55561.84b83a","order":12,"disp":false,"width":"12","collapse":false},{"id":"b2e85013.c9eea","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"maua.br.crt","keyname":"maua.br.key ","caname":"intermediate.crt","verifyservercert":true},{"id":"20a55561.84b83a","type":"ui_tab","z":"","name":"TCC AR CONDICIONADO","icon":"dashboard"},{"id":"f1de5afc.9484e8","type":"comment","z":"c72cdef0.3e244","name":"DET-11","info":"","x":80,"y":70,"wires":[]},{"id":"3b8e6af2.645976","type":"mqtt in","z":"c72cdef0.3e244","name":"DET-11[Network Server-PUBLIC-Uplink]","topic":"application/+/node/0004a30b001e8b8e/rx","qos":"2","broker":"c88f9e9b.e6a39","x":177,"y":111,"wires":[["44fb6335.ed7b2c"]]},{"id":"44fb6335.ed7b2c","type":"json","z":"c72cdef0.3e244","name":"Format JSON str to Obect","pretty":false,"x":214,"y":150,"wires":[["c813697d.49b2f8"]]},{"id":"c813697d.49b2f8","type":"function","z":"c72cdef0.3e244","name":"Parse JSON.data field","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":188,"wires":[["d9bd9325.804e6"]]},{"id":"d9bd9325.804e6","type":"decode","z":"c72cdef0.3e244","name":"Decode [Base64]","encode":"Base64","x":220,"y":233,"wires":[["9823e4f5.6392a8"]]},{"id":"9823e4f5.6392a8","type":"encode","z":"c72cdef0.3e244","name":"","encode":"Hex","x":262,"y":290,"wires":[["133702e8.664fad","f07ef3ef.6f94c","d65a687b.0af3d8","a4c66af2.c5b638","11e8222b.1ff02e","d00f0401.f965c8"]]},{"id":"133702e8.664fad","type":"function","z":"c72cdef0.3e244","name":"Contagem Regressiva","func":"//call constructor Date() and pass to now\nvar now = new Date();\n//time_now receive current time\nvar time_now = now.getTime();\n\nif (typeof last_broker_time === 'undefined'){\n    last_broker_time = time_now;\n}\n\nif (msg.payload){\n    last_broker_time = time_now;\n    } \n\n//1. diference between times\n//2. divide per 1000 to parse miliseconds to second\n//3. divide per 60 to parse second to minute\n//4. .toFixed(0) return an int value\n//5. parseInt(\"string\",10) --> returns a decimal value based on own string value\nvar difference_between_times = parseInt(((time_now - last_broker_time)/60000).toFixed(0),10);\n\n//pass to msg.payload the desire velue to show on gauge in dashboard\nmsg.payload = difference_between_times; \nreturn msg;","outputs":1,"noerr":0,"x":539.0199356079102,"y":396.8040452003479,"wires":[["e5ac262c.1562a8"]]},{"id":"724c71a.7fd8a9","type":"inject","z":"c72cdef0.3e244","name":"","topic":"","payload":"msg.time_sample","payloadType":"global","repeat":"5","crontab":"","once":false,"x":245.01992797851562,"y":395.8040466308594,"wires":[["133702e8.664fad"]]},{"id":"f07ef3ef.6f94c","type":"function","z":"c72cdef0.3e244","name":"Voltage DET-11","func":"msg.payload = (parseInt(msg.payload.substr(20,4),16)/1000).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":346,"wires":[["1a56e228.9af3de"]]},{"id":"11e8222b.1ff02e","type":"function","z":"c72cdef0.3e244","name":"Temperature-DET11","func":"msg.payload = parseInt(msg.payload.substr(8,4),16)/10;\nreturn msg;","outputs":1,"noerr":0,"x":560.9603881835938,"y":100.99217987060547,"wires":[["e691cdab.d6f72"]]},{"id":"a4c66af2.c5b638","type":"function","z":"c72cdef0.3e244","name":"Humidity-DET11","func":"msg.payload = parseInt(msg.payload.substr(14,4),16)/10;\nreturn msg;","outputs":1,"noerr":0,"x":568.9603881835938,"y":160.99217987060547,"wires":[["9b03150.61e0ae8"]]},{"id":"d65a687b.0af3d8","type":"function","z":"c72cdef0.3e244","name":"Current-DET11","func":"current = (parseInt(msg.payload.substr(2,4),16)) - 102;\nif (current > 0){\n    msg.payload =(current/(0.066/(3.3/1024))).toFixed(2);\n}else{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":578.9603881835938,"y":220.99217987060547,"wires":[["88156f99.62708","66e5e6db.685cc8"]]},{"id":"88156f99.62708","type":"ui_template","z":"c72cdef0.3e244","group":"8476920b.83b2d","name":"current","order":0,"width":"4","height":"2","format":" <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:250%;\"></center>\n<center style=\"font-size:150%\">A</center>\n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":772.9603881835938,"y":220.99217224121094,"wires":[[]]},{"id":"e691cdab.d6f72","type":"ui_template","z":"c72cdef0.3e244","group":"8476920b.83b2d","name":"temperature","order":0,"width":"1","height":"2","format":" <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:150%\"></center>\n<center style=\"font-size:70%\">°C</center>\n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760.9603881835938,"y":100.99217987060547,"wires":[[]]},{"id":"9b03150.61e0ae8","type":"ui_template","z":"c72cdef0.3e244","group":"8476920b.83b2d","name":"humidity","order":0,"width":"1","height":"2","format":" <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:150%\"></center>\n<center style=\"font-size:70%\">%</center>\n</body>\n</html> \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":773.2299194335938,"y":160.99609375,"wires":[[]]},{"id":"1a56e228.9af3de","type":"ui_gauge","z":"c72cdef0.3e244","name":"","group":"8476920b.83b2d","order":0,"width":"3","height":"2","gtype":"gage","title":" Bateria","label":"V","format":"{{value}}","min":"2.95","max":"3.4","colors":["#ff0000","#ffff00","#008000"],"seg1":"","seg2":"","x":774.229923248291,"y":346.9960906505585,"wires":[]},{"id":"e5ac262c.1562a8","type":"ui_gauge","z":"c72cdef0.3e244","name":"","group":"8476920b.83b2d","order":0,"width":"3","height":"2","gtype":"donut","title":"Atualizado há","label":"min.","format":"{{value}}","min":"0","max":"20","colors":["#008000","#ffff00","#ff0000"],"seg1":"","seg2":"","x":757,"y":397,"wires":[]},{"id":"d00f0401.f965c8","type":"debug","z":"c72cdef0.3e244","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":473,"y":30,"wires":[]},{"id":"66e5e6db.685cc8","type":"ui_chart","z":"c72cdef0.3e244","name":"","group":"8476920b.83b2d","order":0,"width":"0","height":"0","label":"Corrente","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"-0.5","ymax":"10","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":774,"y":281,"wires":[[],[]]}]