flows.json
[
    {
        "id": "7499bf5e.a278",
        "type": "tab",
        "label": "TCC AR CONDICIONADO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95101c56.a8c1b",
        "type": "comment",
        "z": "7499bf5e.a278",
        "name": "DET-11",
        "info": "",
        "x": 80,
        "y": 70,
        "wires": []
    },
    {
        "id": "6da24f8c.81f83",
        "type": "mqtt in",
        "z": "7499bf5e.a278",
        "name": "DET-11[Network Server-PUBLIC-Uplink]",
        "topic": "application/+/node/0004a30b001e8b8e/rx",
        "qos": "2",
        "broker": "bd0ed62a.ad7aa8",
        "x": 177,
        "y": 111,
        "wires": [
            [
                "7d0f5947.0ae948"
            ]
        ]
    },
    {
        "id": "7d0f5947.0ae948",
        "type": "json",
        "z": "7499bf5e.a278",
        "name": "Format JSON str to Obect",
        "pretty": false,
        "x": 214,
        "y": 150,
        "wires": [
            [
                "47cc9bfd.772ab4"
            ]
        ]
    },
    {
        "id": "47cc9bfd.772ab4",
        "type": "function",
        "z": "7499bf5e.a278",
        "name": "Parse JSON.data field",
        "func": "msg.payload = msg.payload.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 222,
        "y": 188,
        "wires": [
            [
                "5fdf61e7.35ca9"
            ]
        ]
    },
    {
        "id": "5fdf61e7.35ca9",
        "type": "decode",
        "z": "7499bf5e.a278",
        "name": "Decode [Base64]",
        "encode": "Base64",
        "x": 220,
        "y": 233,
        "wires": [
            [
                "5e2edf84.5f681"
            ]
        ]
    },
    {
        "id": "5e2edf84.5f681",
        "type": "encode",
        "z": "7499bf5e.a278",
        "name": "",
        "encode": "Hex",
        "x": 262,
        "y": 290,
        "wires": [
            [
                "929108ed.d0b8a8",
                "ca331be5.c6ba18",
                "950b3ad6.574ed8",
                "cb9d7f55.88149",
                "be1ba290.09b7d",
                "da9c3cc2.17dba"
            ]
        ]
    },
    {
        "id": "929108ed.d0b8a8",
        "type": "function",
        "z": "7499bf5e.a278",
        "name": "Contagem Regressiva",
        "func": "//call constructor Date() and pass to now\nvar now = new Date();\n//time_now receive current time\nvar time_now = now.getTime();\n\nif (typeof last_broker_time === 'undefined'){\n    last_broker_time = time_now;\n}\n\nif (msg.payload){\n    last_broker_time = time_now;\n    } \n\n//1. diference between times\n//2. divide per 1000 to parse miliseconds to second\n//3. divide per 60 to parse second to minute\n//4. .toFixed(0) return an int value\n//5. parseInt(\"string\",10) --> returns a decimal value based on own string value\nvar difference_between_times = parseInt(((time_now - last_broker_time)/60000).toFixed(0),10);\n\n//pass to msg.payload the desire velue to show on gauge in dashboard\nmsg.payload = difference_between_times; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 539.0199356079102,
        "y": 396.8040452003479,
        "wires": [
            [
                "e8cdabba.73d078"
            ]
        ]
    },
    {
        "id": "641e1d54.5e1f64",
        "type": "inject",
        "z": "7499bf5e.a278",
        "name": "",
        "topic": "",
        "payload": "msg.time_sample",
        "payloadType": "global",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 245.01992797851562,
        "y": 395.8040466308594,
        "wires": [
            [
                "929108ed.d0b8a8"
            ]
        ]
    },
    {
        "id": "ca331be5.c6ba18",
        "type": "function",
        "z": "7499bf5e.a278",
        "name": "Voltage DET-11",
        "func": "msg.payload = (parseInt(msg.payload.substr(20,4),16)/1000).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 565,
        "y": 346,
        "wires": [
            [
                "6ee98a4e.884584"
            ]
        ]
    },
    {
        "id": "be1ba290.09b7d",
        "type": "function",
        "z": "7499bf5e.a278",
        "name": "Temperature-DET11",
        "func": "msg.payload = parseInt(msg.payload.substr(8,4),16)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560.9603881835938,
        "y": 100.99217987060547,
        "wires": [
            [
                "8ecf6052.abaab"
            ]
        ]
    },
    {
        "id": "cb9d7f55.88149",
        "type": "function",
        "z": "7499bf5e.a278",
        "name": "Humidity-DET11",
        "func": "msg.payload = parseInt(msg.payload.substr(14,4),16)/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 568.9603881835938,
        "y": 160.99217987060547,
        "wires": [
            [
                "5fa0fc7b.fff634"
            ]
        ]
    },
    {
        "id": "950b3ad6.574ed8",
        "type": "function",
        "z": "7499bf5e.a278",
        "name": "Current-DET11",
        "func": "current = (parseInt(msg.payload.substr(2,4),16)) - 102;\nif (current > 0){\n    msg.payload =(current/(0.066/(3.3/1024))).toFixed(2);\n}else{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 578.9603881835938,
        "y": 220.99217987060547,
        "wires": [
            [
                "7563a62d.0d39e8",
                "3a64197a.cedb36"
            ]
        ]
    },
    {
        "id": "7563a62d.0d39e8",
        "type": "ui_template",
        "z": "7499bf5e.a278",
        "group": "7b5f0616.4b4428",
        "name": "current",
        "order": 0,
        "width": "4",
        "height": "2",
        "format": " <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:250%;\"></center>\n<center style=\"font-size:150%\">A</center>\n</body>\n</html> \n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 772.9603881835938,
        "y": 220.99217224121094,
        "wires": [
            []
        ]
    },
    {
        "id": "8ecf6052.abaab",
        "type": "ui_template",
        "z": "7499bf5e.a278",
        "group": "7b5f0616.4b4428",
        "name": "temperature",
        "order": 0,
        "width": "1",
        "height": "2",
        "format": " <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:150%\"></center>\n<center style=\"font-size:70%\">°C</center>\n</body>\n</html> \n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 760.9603881835938,
        "y": 100.99217987060547,
        "wires": [
            []
        ]
    },
    {
        "id": "5fa0fc7b.fff634",
        "type": "ui_template",
        "z": "7499bf5e.a278",
        "group": "7b5f0616.4b4428",
        "name": "humidity",
        "order": 0,
        "width": "1",
        "height": "2",
        "format": " <!DOCTYPE html>\n<html>\n<body>\n<!-- <h4 style=\"font-size:80%\"><b>Temperatura - R401</b></h4> -->\n\n<center ng-bind-html=\"msg.payload\" style=\"font-size:150%\"></center>\n<center style=\"font-size:70%\">%</center>\n</body>\n</html> \n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 773.2299194335938,
        "y": 160.99609375,
        "wires": [
            []
        ]
    },
    {
        "id": "6ee98a4e.884584",
        "type": "ui_gauge",
        "z": "7499bf5e.a278",
        "name": "",
        "group": "7b5f0616.4b4428",
        "order": 0,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": " Bateria",
        "label": "V",
        "format": "{{value}}",
        "min": "2.95",
        "max": "3.4",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#008000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 774.229923248291,
        "y": 346.9960906505585,
        "wires": []
    },
    {
        "id": "e8cdabba.73d078",
        "type": "ui_gauge",
        "z": "7499bf5e.a278",
        "name": "",
        "group": "7b5f0616.4b4428",
        "order": 0,
        "width": "3",
        "height": "2",
        "gtype": "donut",
        "title": "Atualizado há",
        "label": "min.",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#008000",
            "#ffff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 757,
        "y": 397,
        "wires": []
    },
    {
        "id": "da9c3cc2.17dba",
        "type": "debug",
        "z": "7499bf5e.a278",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 473,
        "y": 30,
        "wires": []
    },
    {
        "id": "3a64197a.cedb36",
        "type": "ui_chart",
        "z": "7499bf5e.a278",
        "name": "",
        "group": "7b5f0616.4b4428",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Corrente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-0.5",
        "ymax": "10",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 774,
        "y": 281,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bd0ed62a.ad7aa8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqttConnection",
        "broker": "networkserver.maua.br",
        "port": "1883",
        "tls": "fc16eb7c.0032c8",
        "clientid": "Node-RED from smartcampus",
        "usetls": false,
        "compatmode": true,
        "keepalive": "200",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7b5f0616.4b4428",
        "type": "ui_group",
        "z": "",
        "name": "DET-11: TCC Ar Condicionado",
        "tab": "3ff65872.c0a1c8",
        "order": 12,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fc16eb7c.0032c8",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "maua.br.crt",
        "keyname": "maua.br.key ",
        "caname": "intermediate.crt",
        "verifyservercert": true
    },
    {
        "id": "3ff65872.c0a1c8",
        "type": "ui_tab",
        "z": "",
        "name": "TCC AR CONDICIONADO",
        "icon": "dashboard"
    }
]